* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

p {
    color: #E5E7EB;
    margin: 0px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    padding: 0px 400px;
}

ul {
    display: flex;
    gap: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 9px 32px;
    margin: 9px 0px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px 400px 150px 400px;
    justify-content: space-between;
    flex: 1;
}

#hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 42px 0px 0px;
    flex-basis: 100%;
}

#hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    flex: 1 1 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin-bottom: 138px;
}

.content h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    flex-basis: 100%;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0px;
}

#item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    gap: 8px;
}

#item p {
    color: #6d747d;
    text-align: center;
}

#img {
    height: 175px;
    width: 175px;
    border: solid 4px #3882F6;
    border-radius: 16px;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: flex-end;
    padding: 150px 29% 100px;
}

.quotes h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quotes h2 {
    margin-right: 48px;
}

.action-box {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px 400px;
    padding: 50px 100px;
    border-radius: 10px;
}

#right-box h2 {
    color: white;
    margin: 0px;
}

.action-box button {
    border: solid 2px white;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 40px;
}